@import "tailwindcss";



/* Only necessary base variables and reset styles */
@layer base {
  :root {
    --color-brand-primary: #2F3E46;
    --color-brand-accent: #84A98C;
    --color-brand-light: #F0F5F4;

    --font-heading: 'Alef', sans-serif;
    --font-body: 'Inter', sans-serif;
  }
  body{
    margin: 0;
    padding: 0;
  }

  html {
    font-family: var(--font-body);
    background-color: var(--color-brand-light);
    color: #1A1A1A;
    scroll-behavior: smooth;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
}
